
Art106/upgrade.html
Art106/serial_prototype.html
Art106/readings.html
Art106/prototype_doc.html
Art106/prototype.html
Art106/participation.html
Art106/microbox.html
Art106/index.html
Art106/Final.html
Art106/brushbot.html
Art106/Assets/waterSketch.JPG
Art106/Assets/soilVid.MOV
Art106/Assets/soilCopy.jpg
Art106/Assets/soil_breadboardCopy.jpg
Art106/Assets/soil_breadboard.jpg
Art106/Assets/soil.jpg
Art106/Assets/serialMultiValueCom.mp4
Art106/Assets/serialCallResponse.mp4
Art106/Assets/secondMotor.MOV
Art106/Assets/progress3.JPG
Art106/Assets/progress2.jpg
Art106/Assets/progress1.jpg
Art106/Assets/phaseTwoNeopixelVid.MOV
Art106/Assets/phaseTwoNeopixel_noBox.jpg
Art106/Assets/phaseTwoNeopixel.jpg
Art106/Assets/phaseThreeSerialUI.MOV
Art106/Assets/motorVid.MOV
Art106/Assets/motorsCopy.jpg
Art106/Assets/motors.jpg
Art106/Assets/motorDriver.jpg
Art106/Assets/motor_breadboard.jpg
Art106/Assets/microboxInside2.JPG
Art106/Assets/microboxInside1.JPG
Art106/Assets/microboxClose.JPG
Art106/Assets/microboxBack.JPG
Art106/Assets/microbox.mp4
Art106/Assets/microbox.JPG
Art106/Assets/LEDhairball_switch.JPG
Art106/Assets/LEDhairball_on.JPG
Art106/Assets/LEDhairball.JPG
Art106/Assets/joystickCopy.jpg
Art106/Assets/joystick_breadboard.jpg
Art106/Assets/joystick.JPG
Art106/Assets/interior.JPG
Art106/Assets/graph.mp4
Art106/Assets/firstMotor.MOV
Art106/Assets/FinalVideo3.mp4
Art106/Assets/finalCode.txt
Art106/Assets/final9.JPG
Art106/Assets/final8.JPG
Art106/Assets/final7.JPG
Art106/Assets/final6.JPG
Art106/Assets/final5.JPG
Art106/Assets/final4.JPG
Art106/Assets/final3.JPG
Art106/Assets/final21.JPG
Art106/Assets/final20.JPG
Art106/Assets/final2.JPG
Art106/Assets/final19.JPG
Art106/Assets/final18.JPG
Art106/Assets/final17.JPG
Art106/Assets/final16.JPG
Art106/Assets/final15.JPG
Art106/Assets/final14.JPG
Art106/Assets/final13.JPG
Art106/Assets/final12.JPG
Art106/Assets/final11.JPG
Art106/Assets/final10.JPG
Art106/Assets/final1.JPG
Art106/Assets/exterior_plant.JPG
Art106/Assets/exterior.JPG
Art106/Assets/dimmer.mp4
Art106/Assets/Diagram2.jpg
Art106/Assets/Diagram1.jpg
Art106/Assets/code.txt
Art106/Assets/cardboardSketch.jpg
Art106/Assets/brushbot.mp4
Art106/Assets/brushbot.MOV
Art106/Assets/brushbot.JPG
Art106/Assets/breadboardQuiz.mp4
Art106/Assets/breadboardquiz.JPG
Art106/Assets/boxedShelf_joystick.JPG
Art106/Assets/boxedShelf.JPG
Art106/Assets/birdhouseSketch.jpg
Art104/tech.jpeg
Art104/particles.js
Art104/main.css
Art104/index.html
