body{
  max-width: none;
}

.topnav {
  overflow: hidden;
}

.nav{
  margin: 100px;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  margin: 130px;
  text-decoration: none;
  font-size: 20px;
  font-family: monospace "Arial-Narrow";
  letter-spacing: 8px;
  font-weight: lighter;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
  text-decoration: line-through;
}

/* Add a color to the active/current link */
.topnav a.active {
  font-style: italic;
}


.text{
  width: 70%;
  font-size: 20px;
  font-family: "Agency FB";
  letter-spacing: 3px;
  margin-left: 15%;
  margin-top: 10%;
}
