body{
  max-width: none;
}

.topnav {
  overflow: hidden;
}

.nav{
  margin: 100px;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  margin: 125px;
  text-decoration: none;
  font-size: 20px;
  font-family: monospace "Arial-Narrow";
  letter-spacing: 8px;
  font-weight: lighter;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
  text-decoration: line-through;
}

/* Add a color to the active/current link */
.topnav a.active {
  font-style: italic;
}








.text{
  font-family: "Agency FB";
  letter-spacing: 3px;
  float: right;
  margin-right: 30%;
  padding: none;
  margin-bottom: 5%;
  margin-top: 6%;
  position: relative;
  font-size: 20px;
}


* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#subject{
  font-family: "Agency FB";
  letter-spacing: 3px;
  font-size: 20px;
}

input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: 1px solid;
  cursor: pointer;
  font-family: "Agency FB";
  letter-spacing: 3px;
}

input[type=submit]:hover {
  opacity: 0.5  ;
}

#leaveMessage{
  font-family: "Agency FB";
  letter-spacing: 3px;
  font-size: 30px;
}
/* Style the container/contact section */
.message{
  width: 35%;
  float: right;
  margin-right: -35%;
  margin-top: 12%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


.main{
margin-right: -8%;
margin-top: 2%;
}
