.topnav {
  overflow: hidden;
}

.nav{
  margin: 100px;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  margin: 130px;
  text-decoration: none;
  font-size: 20px;
  font-family: monospace "Arial-Narrow";
  letter-spacing: 8px;
  font-weight: lighter;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
  text-decoration: line-through;
}

/* Add a color to the active/current link */
.topnav a.active {
  font-style: italic;
}

.category{
  overflow: hidden;
  margin-top: 15%
}

/* #motion{
  margin-left: 2.4%;
  transition: 0.3s;
  opacity: 0.6;
  padding: none;
  max-width: none;
}

#motion:hover{opacity: 1}

#collabs{
text-align: center;
margin-top: -18.2%;
padding: none;
transition: 0.3s;
opacity: 0.6;
max-width: none;
}

#collabs:hover{opacity: 1}

#prints{
float: right;
margin-top: -26%;
padding: none;
margin-right: 2.4%;
transition: 0.3s;
opacity: 0.6;
max-width: none;
}

#prints:hover{opacity: 1} */
body {
  height: 100vh;
  overflow: hidden;
  max-width: none;
  background-image: linear-gradient(90deg, #F15A29 33.33%, #0D90B7 33.33%, #0D90B7 66.66%, #FBB040 66.66%);
  background-size: 80% 50%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px;
}

body. html{
  width: 100%;
  height: 100%;
}

.red{
  transition: 0.3s;
  opacity: 6;
}

.red:hover{opacity: 0.3}

.blue{
  transition: 0.3s;
  opacity: 6;
}

.blue:hover{opacity: 0.3}

.yellow{
  transition: 0.3s;
  opacity: 6;
}

.yellow:hover{opacity: 0.3}
