.topnav {
  overflow: hidden;
  margin-bottom: 80px;
}

.nav {
  margin: 100px;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  margin: 125px;
  text-decoration: none;
  font-size: 20px;
  font-family: monospace "Arial-Narrow";
  letter-spacing: 8px;
  font-weight: lighter;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
  text-decoration: line-through;
}

/* Add a color to the active/current link */
.topnav a.active {
  font-style: italic;
}

.category {
  overflow: hidden;
  margin-top: 15%
}

/* //////////////////////////////////////////////////// */
#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

#light {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  max-height: 360px;
  margin-left: -300px;
  margin-top: -180px;
  border: 2px solid #FFF;
  background: #FFF;
  z-index: 1002;
  overflow: visible;
}

#boxclose {
  float: right;
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

#fade:hover~#boxclose {
  display: none;
}

.main {
  width: 95%;
}

.banner {
  opacity: 0.5;
  padding: none;
  margin-left: 6%;
}

.icons {
  margin-top: -0.5%;
}

.icons3 {
  position: relative;
}

.icons3:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.textcode {
  float: right;
  margin-right: 25%;
  margin-top: -27%;
}

.textcode h1 {
  font-size: 30px;
  font-family: "Agency FB";
  letter-spacing: 5px;
}

.textcode h2 {
  font-size: 12px;
  font-family: "Agency FB";
  letter-spacing: 3px;
  line-height: 15px;
}

.textcode2 {
  float: right;
  margin-right: 19%;
  margin-top: -21%;
}

.textcode2 h1 {
  font-size: 30px;
  font-family: "Agency FB";
  letter-spacing: 5px;
}

.textcode2 h2 {
  font-size: 12px;
  font-family: "Agency FB";
  letter-spacing: 3px;
  line-height: 14.5px;
}

.textcode3 {
  float: right;
  margin-top: -21%;
}

.textcode3 h1 {
  font-size: 30px;
  font-family: "Agency FB";
  letter-spacing: 5px;
}

.textcode3 h2 {
  font-size: 12px;
  font-family: "Agency FB";
  letter-spacing: 3px;
  line-height: 15px;
}

.textcode4 {
  float: right;
  margin-top: -2%;
  margin-right: 24%;
}

.textcode4 h1 {
  font-size: 30px;
  font-family: "Agency FB";
  letter-spacing: 5px;
}

.textcode4 h2 {
  font-size: 12px;
  font-family: "Agency FB";
  letter-spacing: 3px;
  line-height: 15px;
}

.textcode5 {
  float: right;
  margin-top: -29%;
  margin-left: 50%;
  margin-bottom: -0.5%;
}

.textcode5 h1 {
  font-size: 30px;
  font-family: "Agency FB";
  letter-spacing: 5px;
}

.textcode5 h2 {
  font-size: 12px;
  font-family: "Agency FB";
  letter-spacing: 3px;
  line-height: 15px;
}

#link1 {
  opacity: 1;
}

#link1:hover {
  opacity: 0.5
}

#link2 {
  opacity: 1;
}

#link2:hover {
  opacity: 0.5
}

#link3 {
  opacity: 1;
}

#link3:hover {
  opacity: 0.5
}

#link4 {
  opacity: 1;
}

#link4:hover {
  opacity: 0.5
}

#link5 {
  opacity: 1;
}

#link5:hover {
  opacity: 0.5
}


#slider {
  width: 800px;
  height: 300px;
  margin-left: : 50%;
  margin-right: 50%;
  margin-top: 50%;
  margin-bottom: 30%;
  position: relative;

}

button {
  padding-top: 204px;
  padding-bottom: 205px;
  border: none;
  background-color: white;
  font-size: 30px;
  font-family: "Agency FB";
  letter-spacing: 3px;
  font-weight: lighter;
  position: absolute;
  top: -0.2%;
  cursor: pointer;
  border: 1px solid;
}

.right {
  border-radius: 0px 10px 10px 0px;
  margin-left: 101%;
}

.right:hover{
  opacity: 0.5;
}

.left {
  border-radius: 10px 0px 0px 10px;
  margin-left: -8.5%;
}

.left:hover{
  opacity: 0.5;
}

.slideshow{
  float: right;
  margin-right: 4%;
  margin-top: -20%;
}
