.topnav {
  overflow: hidden;
  margin-bottom: 80px;
}

.nav{
  margin: 100px;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  margin: 130px;
  text-decoration: none;
  font-size: 20px;
  font-family: monospace "Arial-Narrow";
  letter-spacing: 8px;
  font-weight: lighter;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
  text-decoration: line-through;
}

/* Add a color to the active/current link */
.topnav a.active {
  font-style: italic;
}

.category{
  overflow: hidden;
  margin-top: 15%
}

/* //////////////////////////////////////////////////// */

#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

#light {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  max-height: 360px;
  margin-left: -300px;
  margin-top: -180px;
  border: 2px solid #FFF;
  background: #FFF;
  z-index: 1002;
  overflow: visible;
}

#boxclose {
  float: right;
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

#fade:hover ~ #boxclose {
  display:none;
}


/* //////////////////////////////////////////// */


/* #motion{
  margin-left: 2.4%;
  transition: 0.3s;
  opacity: 0.6;
  padding: none;
  max-width: none;
}

#motion:hover{opacity: 1}

#collabs{
text-align: center;
margin-top: -18.2%;
padding: none;
transition: 0.3s;
opacity: 0.6;
max-width: none;
}

#collabs:hover{opacity: 1}

#prints{
float: right;
margin-top: -26%;
padding: none;
margin-right: 2.4%;
transition: 0.3s;
opacity: 0.6;
max-width: none;
}

#prints:hover{opacity: 1} */
/* body {
  height: 100vh;
  overflow: hidden;
  max-width: none;
  background-image: linear-gradient(90deg, #F15A29 33.33%, #0D90B7 33.33%, #0D90B7 66.66%, #FBB040 66.66%);
  background-size: 80% 50%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px;
}

body. html{
  width: 100%;
  height: 100%;
}

.red{
  transition: 0.3s;
  opacity: 6;
}

.red:hover{opacity: 0.3}

.blue{
  transition: 0.3s;
  opacity: 6;
}

.blue:hover{opacity: 0.3}

.yellow{
  transition: 0.3s;
  opacity: 6;
}

.yellow:hover{opacity: 0.3} */

/* Create two equal columns that floats next to each other */
/* .column {
  float: left;
  width: 30%;
  padding: 5px;
}

.column img {
  margin-top: 12px;
  vertical-align: middle;
} */

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
} */

.main{
  width: 95%;
}
.banner{
  opacity: 0.5;
  padding: none;
  margin-left: 6%;
}


.icons{
  margin-top: -0.5%;
}

.icons3{
  position: relative;
}

.icons3:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.textcode{
  float: right;
  margin-right: 25%;
  margin-top: -27%;
}

.textcode h1{
  font-size: 30px;
  font-family: "Agency FB";
  letter-spacing: 5px;
}

.textcode h2{
  font-size: 12px;
  font-family: "Agency FB";
  letter-spacing: 3px;
  line-height: 15px;
}

.textcode2{
  float: right;
  margin-right: 19%;
  margin-top: -21%;
}

.textcode2 h1{
  font-size: 30px;
  font-family: "Agency FB";
  letter-spacing: 5px;
}

.textcode2 h2{
  font-size: 12px;
  font-family: "Agency FB";
  letter-spacing: 3px;
  line-height: 14.5px;
}

.textcode3{
  float: right;
  margin-top: -21%;
}

.textcode3 h1{
  font-size: 30px;
  font-family: "Agency FB";
  letter-spacing: 5px;
}

.textcode3 h2{
  font-size: 12px;
  font-family: "Agency FB";
  letter-spacing: 3px;
  line-height: 15px;
}

.textcode4{
  float: right;
  margin-top: -2%;
  margin-right: 24%;
}

.textcode4 h1{
  font-size: 30px;
  font-family: "Agency FB";
  letter-spacing: 5px;
}

.textcode4 h2{
  font-size: 12px;
  font-family: "Agency FB";
  letter-spacing: 3px;
  line-height: 15px;
}

.textcode5{
  float: right;
  margin-top: -29%;
  margin-left: 50%;
}

.textcode5 h1{
  font-size: 30px;
  font-family: "Agency FB";
  letter-spacing: 5px;
}

.textcode5 h2{
  font-size: 12px;
  font-family: "Agency FB";
  letter-spacing: 3px;
  line-height: 15px;
}
