body{
  max-width: none;
}

.topnav {
  overflow: hidden;
}

.nav{
  margin: 100px;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  margin: 125px;
  text-decoration: none;
  font-size: 20px;
  font-family: monospace "Arial-Narrow";
  letter-spacing: 8px;
  font-weight: lighter;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
  text-decoration: line-through;
}

/* Add a color to the active/current link */
.topnav a.active {
  font-style: italic;
}


.text{
  width: 70%;
  font-size: 20px;
  font-family: "Agency FB";
  letter-spacing: 3px;
  margin-left: 15%;
  margin-top: 10%;
}

.videoFlood{
  float: left;
  margin-left: 5%;
  margin-top: 5%;
}

.textDescription{
  float: right;
  margin-right: 5%;
  margin-top: 1%;
  font-size: 30px;
  font-family: "Agency FB";
  letter-spacing: 3px;
  color: white;
  word-wrap: break-word;
  width: 35%;
}

#back {
  float: right;
  margin-right: 10%;
  font-size: 20px;
  margin-top: 10%;
}

.back a{
  letter-spacing: 3px;
  color: black;
  font-family: "Agency FB"
}

#back:hover{
  text-decoration: underline;
  color: black;

}

#strip{
  width: 100%; height: 400px;
  margin-top:9%;
  border-style: solid;
  border-color: #4A61D5;
  background-color:  #4A61D5;
}
