/* Add a black background color to the top navigation */
body{
  max-width: none;
}

.topnav {
  overflow: hidden;
}

.nav{
  margin: 100px;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  margin: 125px;
  text-decoration: none;
  font-size: 20px;
  font-family: monospace "Arial-Narrow";
  letter-spacing: 8px;
  font-weight: lighter;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
  text-decoration: line-through;
}

/* Add a color to the active/current link */
.topnav a.active {
  font-style: italic;
}

#red{
  max-width: 0px;
  margin-left: 25%;
  margin-top: 9%;
  transition: 0.3s;
  opacity: 0.6;
}

#red:hover{opacity: 1}

#blue{
  margin-left: 49%;
  max-width: 0px;
  margin-top: -6%;
  transition: 0.3s;
  opacity: 0.6;
}

#blue:hover{opacity: 1}

#yellow{
margin-left: 51.5%;
max-width: 0px;
margin-top: -31%;
transition: 0.3s;
opacity: 0.6;
}

#yellow:hover{opacity: 1}

/* .zoom1 {
  transition: transform 0s;
}

.zoom1:hover {
  transform: scale(1.1);
} */
