h1 {
  font-size: 60pt;
  padding-bottom: 15px;
  text-decoration: underline;
  line-height: 1;
  font-family: "Arial Narrow";
  letter-spacing: -3.5px;
}

body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 0.3;
  padding: 0px 20px;
  text-align: center;
}

.portfolio-item{
padding-top: 50px;
font-size: 18px;
font-family: "Arial Narrow";
letter-spacing: -1px;
}

h2{
  font-size: 20pt;
  font-family: "Impact";
  letter-spacing: 0px;
  line-height: 0;
}

.text{
  padding: 15px 78px;
  margin: auto 50px;
  text-align: left;
  line-height: normal;
}

.vidpic{
  margin-top: 2%;
}

.vid {
  margin-left: -61%;
}

.pic{
  margin-right: -55%;
  margin-top: -33.8%;
}
