body{
  max-width: none;
}

.topnav {
  overflow: hidden;
}

.nav{
  margin: 100px;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  margin: 130px;
  text-decoration: none;
  font-size: 20px;
  font-family: monospace "Arial-Narrow";
  letter-spacing: 8px;
  font-weight: lighter;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
  text-decoration: line-through;
}

/* Add a color to the active/current link */
.topnav a.active {
  font-style: italic;
}

.disposal{
  margin-top: 10%;
  margin-left: 10%;
}

.text1{
  margin-left: 48%;
  padding-right: 10%;
  margin-top: -15%;
}

.dependency{
  margin-top: 10%;
  margin-left: 10%;
}

.text2{
  margin-left: 48%;
  padding-right: 10%;
  margin-top: -19%;
}

.dependency2{
  margin-top: 2.5%;
  margin-left: 20%;
}

.dependpic{
  margin-top: -18.1%;
  margin-left: 52%;
}

.watchit{
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 10%;
}

.text3{
  margin-left: 48%;
  padding-right: 10%;
  margin-top: -28%;
}
