body {
  font-family: "Arial Narrow";
  font-size: 25px;
  color: black;
  background-color: white;
}

h1{
margin-top: 60px;
  margin-left: 97px;
}

.productdescription{
margin-left: 800px;
margin-bottom: -150px;
}
