body {
  font-family: "Arial Narrow";
  color: black;
  background-color: white;
}

.contents {
  margin: auto;
  width: 70%;

}




h1 {
  /* margin-bottom: 35px; */
  font-size: 30px;
  text-decoration: overline;
  font-weight: bold;
  background-color: black;
  color: white;
  width: auto;
  display: inline;
}

.navbar{
display: inline;

}

h2{
  color: white;
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  bottom: 10px;
}

.header{
  width: auto;
  background-color: black;
  padding-top: 12px;
  padding-left: 10px;
  margin-bottom: 80px;

}


.map a{
  padding: 5px;
}
.map p{
  display: inline;
}

.prevnext{
  display: inline;
  float: right;
}


#videoDiv {
  display: inline;
}



.directions{
line-height: 1px;
margin-left: 15px;
margin-bottom: 30px;
}


.container{
  margin-top: 50px;
  margin-bottom: 40px;
}

.col{
  font-size: 17.5px;
  text-align: justify;
  line-height: 20px;
  margin-bottom: -30px;
  margin-left: -10px;
}



h4{
  font-size: 20px;
  text-decoration: underline;
  border-top: 2px solid;
  padding-top: 10px;
}

h3{
  font-size: 30px;
  font-weight: bold;
}

.buy{
  /* border: 3px solid;
  margin-right: 150px; */
  font-size: 20px;
  font-weight: bold;
}
