body {
  font-family: "Arial Narrow";
  color: black;
  background-color: white;
  width: 65%;
  margin: auto;
}

h1 {
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 50px;
}

#videoDiv {
  display: inline;
}

h2 {
  display: inline;
  font-size: 20px;
}

.tabs {
  text-align: center;
}

.links{
  text-align: center;
  margin-top: 70px;
}

.images{
  text-align: center;
}

.container{
  margin-top: 50px;
  margin-bottom: 50px;
}

.col{
  font-size: 18px;
  text-align: justify;
}

h3{
  font-size: 25px;
  text-decoration: underline;
}
