/* always link to style sheet between css and html (you have to use the linking tag in the html.index file)    <link rel="stylesheet" type="text/css" href="main.css"></link>
 */

body {
  background-image: url("http://hasshe.com/img/s/khyhoIk8FSt2zwo-_QWSDQHaJ4.jpg");
  text-align: center;
  color: black;
  width: 60%;
  /* with percent, when you pull to move the window page, the page itself will adapt; with pixels "px" it doesn't adap */
  margin: 60px auto;
  /* the first number in margin applies to top and bottom first, then the second number will apply to left and right */
}



h1 {
  color: pink;
  background-color: black;
}

h1:hover{
  background-color: green;
}


/* you can use div to classify certain elements  */
.black-div{
background-color: black;
color: pink;
padding: 30px;
border: 5px solid grey;
margin: 50px;
text-align: left;
}

.big-text{
  font-size: 24px;
  text-align: center;
}

#heading{
  background-color: blue;
}


.home-link{
  background-color: pink;
}
